<%= form_tag({:controller => "recipes", :action => "create"}) do %>
    <div class="field">
      <%= label_tag("recipe[url]", "URL for new Recipe") %><br />
      <%= text_field_tag("recipe[url]", nil, :size => 105) %>
    </div>
    <div class="actions">
      <%= submit_tag("Save Recipe", :id => "recipe_submit") %>
    </div>

<% end %>