<div id="addRecipeModal" class="modal hide in fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Add Recipe</h3>
  </div>

  <div class="modal-body">
    <%= render :partial => 'new_recipe' %>
  </div>
</div>
