<div class="recipe-detail-section">Ingredients</div>

<ul class="recipe-detail-ingredients">
  <% recipe.ingredients.each do |i| %>
    <li class="recipe-detail-item"> <%=  i.raw_text %> </li>
  <% end %>
</ul>

<div class="recipe-detail-section">Directions</div>
<ol>
  <% recipe.directions.each do |p| %>
    <li class="recipe-detail-direction-item"><%= remove_start_numbering(p.raw_text) %></li>
  <% end %>
</ol>
