<div class="ingredient_and_prep">


  <div class="section_header">Ingredients</div>
  <ul>
    <% @recipe.ingredients.each do |i| %>
        <li> <%=  i.raw_text %> </li>
  <% end %>
  </ul>


  <div class="section_header">Directions</div>
  <ol>
    <% @recipe.directions.each do |p| %>
        <li><%= p.raw_text %></li>
  <% end %>
  </ol>

</div>
