<% tags = get_tags(url) %>
<div class="selected-tags">
<%= 'Selected Tags:' unless tags.empty? %>
<% tags.each do |tag| %>
    <button class="tag-button-text">
      <%= tag %>
      <%= link_to '', remove_tag(request.fullpath, tag.to_s), :class => 'tag_remove' %>
    </button>
<% end %>
</div>