<div id="<%= 'recipe_' + recipe.id.to_s    %>" class="modal hide fade in">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= recipe.title %></h3>
  </div>
  <div class="modal-body">
      <h4>Ingredients</h4>
      <br/>
      <ul>
        <% recipe.ingredients.each do |i| %>
          <li> <%=  i.raw_text %> </li>
        <% end %>
      </ul>

      <hr>
      <h4>Directions</h4>
      <br/>
      <ol>
        <% recipe.directions.each do |p| %>
          <li><%= remove_start_numbering(p.raw_text) %></li>
          <br/>
        <% end %>
      </ol>
    </div>
  <div class="modal-footer">
    <a href="#" class="btn" class="close" data-dismiss="modal">Close</a>
  </div>
</div>

