<div class="ingredient_and_prep">
  <ul class="ingredient_list">
  <% @recipe.ingredients.each do |i| %>
    <li class="ingredient"> <%=  i.raw %> </li>
  <% end %>
  </ul>
    <% @recipe.directions.each do |p| %>
      <p>
    <%= p.raw_text %>
      </p>
    <% end %>
   <%= link_to "Read original recipe at #{@recipe.url.split('/')[2]}", @recipe.url, :target => '_blank' %>
</div>
