%h1 Listing Recipes
#recipe_list

%table

  - @recipes.each do |recipe|
    %tr
      %td= image_tag recipe.sample_image, :class => 'list_image'
      %td.recipe_summary
        %dl
          %dt= recipe.title
      %td= link_to 'Show', recipe

  %br

= link_to 'New Recipe', new_recipe_path
