%h1 Listing Recipes
#recipe_list

  - @recipes.each_index do |idx|
  - recipe = @recipes[idx]
    %div{:class => ((idx != 0) ? ((idx == @recipes.length - 1) ? "recipeline recipelast" : "recipeline") : "recipeline recipefirst")}
      .recipeimage= image_tag(recipe.sample_image, :class => 'list_image')
      .recipetitle= recipe.title

= link_to 'New Recipe', new_recipe_path

