<div class="row">
  <div class="span6 offset1 well">
    <div class="recipe-heading">
        <div class="recipe-title"><%= @recipe.title %></div>
        <%= link_to "Read original recipe at #{@recipe.site_source()}", @recipe.url, :target => '_blank', :class => "recipe-url" %>
    </div>
    <%= image_tag(@recipe.sample_image, :size => "450x310", :class => "recipe-detail-image") %>

    <%= render :partial => 'recipe_details', :locals => {:recipe => @recipe} %>
  </div>
</div>

