<div id="recipe_detail">

  <%= render :partial => 'recipe_header' %>

  <%= render :partial => 'recipe_details' %>

  <div class="section_header"></div>
  <%= link_to "Read original recipe at #{@recipe.url.split('/')[2]}", @recipe.url, :target => '_blank' %>
</div>

<%= link_to 'Back', recipes_path %>
