
.list_image {
  width:        50px;
  height:       50px;
}

.recipeline {
    height: 60px;
    border: 0 solid #a52a2a;
    border-top-width: 1px;
    margin: 0;
    display: block;
}

body {
    width: 750px;
    position: relative;
    margin: 0 auto 0 auto;
}

#recipe_list {
    width: 700px;
}

.recipeline .recipeimage {
    float: left;
    width: 50px;
    height: 50px;
    clear: left;
    padding: 5px 15px;
}

.recipeline .recipetitle {
    /*float: left;*/
    font-size: medium;
    float: left;
/*    width: 54px;*/
}

/* copied from instapaper */
#recipe_list > div:last-child {
border-bottom-width: 1px;
/*-moz-border-radius-bottomleft: 15px;*/
/*-webkit-border-bottom-left-radius: 15px;*/
/*border-bottom-left-radius: 15px;*/
/*-moz-border-radius-bottomright: 15px;*/
/*-webkit-border-bottom-right-radius: 15px;*/
/*border-bottom-right-radius: 15px;*/
}

/*#recipe_list table {*/
        /*border-collapse: collapse;*/
/*}*/

#recipe_list table tr td {
        padding: 5px;
        vertical-align: top;
        border-bottom: 1px;
        border-style: solid;
}

#recipe_list .recipe_summary dt {
        color:        #244;
        font-weight:  bold;
}


#recipe_detail {
    width: 600px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#recipe_detail h1 {
color:#6A6A6A;
font-family:Georgia,Times,Times New Roman,serif;
font-size:1.75em;
font-weight:normal;
letter-spacing:0.02em;
line-height:150%;
margin:2px 0 6px 15px;
padding:0 0 3px;
text-align:center;
text-decoration:none;
}

ul {
    margin-left: 20px;
    list-style-type: none;
    color: #6b8e23;
}
