
.list_image {
    width:        50px;
    height:       50px;
}

.recipeline {
    height: 60px;
    border: 0 solid #a52a2a;
    border-top-width: 1px;
    margin: 0;
    display: block;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}

a:hover {
    text-decoration: underline;
}

body {
    width: 700px;
    position: relative;
    margin: 0 auto 0 auto;
}

#recipe_list {
}

.recipeline .recipeimage {
    float: left;
    width: 50px;
    height: 50px;
    clear: left;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;

}

.recipeline .recipetitle {
/*float: left;*/
    font-size: medium;
/*float: left;*/
    width: 650px;
    overflow: visible;
    min-height: 38px;
/*    width: 54px;*/
}

.recipe_provisional{
    font-weight:bold;
    background-color:#f8f8ff;
}

.recipeline .recipemeta {
    font-size: smaller;
    float: right;
}

/* copied from instapaper */
#recipe_list > div:last-child {
    border-bottom-width: 1px;
/*-moz-border-radius-bottomleft: 15px;*/
/*-webkit-border-bottom-left-radius: 15px;*/
/*border-bottom-left-radius: 15px;*/
/*-moz-border-radius-bottomright: 15px;*/
/*-webkit-border-bottom-right-radius: 15px;*/
/*border-bottom-right-radius: 15px;*/
}

/*#recipe_list table {*/
/*border-collapse: collapse;*/
/*}*/

#recipe_list table tr td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px;
    border-style: solid;
}

#recipe_list .recipe_summary dt {
    color:        #244;
    font-weight:  bold;
}


#recipe_detail {
    width: 600px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.recipe_detail{
    font-family:Helvetica,sans-serif;
}

#recipe_detail h1 {
    font-size: 25px;
    overflow: hidden;
}

.pagination{
    padding-top:5px;
    text-align:right;
}

.add_button{
    text-align:right;
    font-size:110%;
}

.inline_recipe{
    width: 600px;
    margin-left: 50px;
    background-color: #f5f5f5;

    padding-left:10px;
    padding-right:10px;
    padding-top: 1px;
    padding-bottom:1px;
    margin-bottom:15px;

    border-style:solid;
    border-color:#a52a2a;
    border-width:1px;

    -moz-border-radius-bottomleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;

    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

#welcome_header{
    padding-top:20px;
    padding-bottom:10px;
    border-bottom-width:2px;
    border-bottom-style:solid;
}

#userpanel{
    float: right;
}

#logo{
    float:left;
    font-size:150%;
}

#welcome_clear{
    clear:both;
}


#two_options{
    width: 100%;
}

#welcome_login{
    width: 25%;
/*padding-left: 20%;*/
    text-align:center;
}

#welcome_or{
    width: 10%;
    text-align:center;
    font-size:larger;
    font-style:italic;
}

#welcome_third_party{
    width: 25%;
/*padding-right: 10%;*/
    text-align:center;
}

#welcome_intro{
    width: 40%;
}

.bookmarklet {
    display: inline-block;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    background-color: #626262;
    border: 1px solid #626262;
    padding: 0px 7px 1px 7px;
    text-shadow: #3B3B3B 1px 1px 0px;
    min-width: 62px;
    text-align: center;
    vertical-align: 2px;
}

