depot_form fieldset {
    background: #efe;
}

.depot_form legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.depot_form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
    margin-left: 0.5em;
}
.depot_form .submit {
    margin-left: 4em;
}
.depot_form div {
    margin: 0.5em 0;
}

# Is this the correct css?
.list_image {
  width:        60px;
  height:       70px;
}

/*#recipe_list table {*/
        /*border-collapse: collapse;*/
/*}*/

#recipe_list table tr td {
        padding: 5px;
        vertical-align: top;
        border-bottom: 1px;
        border-style: solid;
}

#recipe_list .recipe_summary dt {
        color:        #244;
        font-weight:  bold;
}


#recipe_detail {
    width: 600px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#recipe_detail h1 {
color:#6A6A6A;
font-family:Georgia,Times,Times New Roman,serif;
font-size:1.75em;
font-weight:normal;
letter-spacing:0.02em;
line-height:150%;
margin:2px 0 6px 15px;
padding:0 0 3px;
text-align:center;
text-decoration:none;
}

ul {
    margin-left: 20px;
    list-style-type: none;
    color: #6b8e23;
}
