.ot{
    float: left;
    width: 600px;
}

.in{
    background-color: #E0EEE0;
    float: left;
    width: 600px;
}
.pr{
    background-color:#fafad2;
    float: left;
    width: 600px;
}

.prov_select{
    float: right;
    width: 100px;
}

.prov{
    clear: both;
}

#provisional_info_text{
    text-align:center;
}

.no_title_dialog .ui-dialog-titlebar{
    display:none;
}

.provisional_recipe_title{
    font-size: 150%;
    padding-bottom: 7px;
    margin-bottom: 15px;
    padding-top: 15px;
    text-align:center;
    border-bottom: black solid 2px;
    /*overflow: visible;*/
}