.ot{
}

.in{
    background-color: #E0EEE0;
}
.pr{
    background-color:#fafad2;
}


.prov{
    clear: both;
}

#provisional_info_text{
    text-align:center;
}

.no_title_dialog .ui-dialog-titlebar{
    display:none;
}

.provisional_recipe_title{
    font-size: 150%;
    padding-bottom: 7px;
    margin-bottom: 15px;
    padding-top: 15px;
    text-align:center;
    /*overflow: visible;*/
}

.prov_line{
    padding-top: 5px;
}

#prov_left{
    margin-top: 200px;
}

#prov_left > div{
    width:150px;
    text-align:center;
    font-size:115%;
    padding-bottom:5px;
}
