<div class="row">
  <!--Column 1-->
  <div class="span5 offset2">
    <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/3US0-bdZ3G0?hl=en&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/3US0-bdZ3G0?hl=en&fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>
  </div>

  <!--Column 2-->
  <div class="span3">

    <div class="row"> <!-- Login form -->
      <div class="span3">
        <%= render :partial => 'sign_in' %>
      </div>
    </div> <!-- End Login form -->


    <div class="row">
      <div class="span3">
        <strong>Welcome to WeCook. <br/> </strong>
        Save and share any recipe. Discover what others are cooking.
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function() {
        $("#email").focus();
    });
</script>