@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@black: black;

.recipe-footer a {
  color: @black;
}

.provisional {
  background-color: darken(@bodyBackground, 10%);
}

.thumbnail {
  img {
    cursor: pointer;
  }
}

.recipe-footer {
    padding-top: 2px;
}

.recipe-meta {
    padding-top: 2px;
    padding-bottom: 4px;
    font-size:smaller;
}