@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@black: black;
@gray: gray;
//can add preferred sans-serif and serif fonts here
@sansFonts: @sansFontFamily;
@serifFonts: @serifFontFamily;

.recipe-footer a {
  color: @black;
}

.provisional {
  background-color: lighten(@yellow, 44%);
}

.thumbnail {
  img {
    cursor: pointer;
  }
}

.corrected {
    background-color: white;
}

.modal-recipe-title {
    font-family: @serifFonts;
}

.recipe-card-title {
    color: @black;
    font-family: @serifFonts;
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.recipe-footer {
    margin-top: 5px;
}

.recipe-meta {
    font-family: @sansFonts;
    margin-bottom: 5px;
    font-size:smaller;
}

.recipe-title {
    font-size: 24px;
    line-height: 1.1em;
    margin-bottom: 15px;
    font-family: @serifFonts;
}

.recipe-detail-image {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 4px solid black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-url {
    font-family: @sansFonts;
    font-size: 13px;
    color: @gray;
}

.recipe-heading {
    border-bottom: 1px dotted;
}

.recipe-detail-section {
    font-size: 18px;
    font-family: @serifFonts;
    line-height: 1.1em;
    margin-bottom: 5px;
}

.recipe-detail-ingredients {
    padding-bottom: 20px;
}

.recipe-detail-item {
    padding-top: 2px;
    font-size: 13px;
    font-family: @sansFonts;
}

.recipe-detail-direction-item {
    padding-top: 6px;
    font-size: 13px;
    font-family: @sansFonts;
}