@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@color: black;

.recipe-footer a {
  color: @color;
}

.provisional {
  background-color: darken(@bodyBackground, 10%);
}

.thumbnail {
  img {
    cursor: pointer;
  }
}