@import "twitter/bootstrap/variables";
@import "twitter/bootstrap/mixins";

@borderColor: #ddd;

#user-sign-up {
    text-align: center;
    padding-bottom: 20px;
}

#user-sign-up h2 {
    border-bottom: 1px solid @borderColor;
    margin-bottom: 25px;
}

#login h4 {
    border-bottom: 1px solid @borderColor;
    margin-bottom: 25px;
    text-align: left;
}
